env
*.swp
*.pyc
*__pycache__
.vscode
custom-sim/data/assets
custom-sim/results/single
custom-sim/results/mnist
custom-sim/results/**/*.png
custom-sim/results/**/*.npy
custom-sim/results/**/*.jpg
custom-sim/results/**/*.json
custom-sim/multi
custom-sim/experiments/results
custom-sim/data/datagen/scenes/unity
custom-sim/data/datagen
custom-sim/data/assets
custom-sim/data/mnist
custom-sim/data/datagen/scenes/real
custom-sim/data/datagen/scenes/blender
custom-sim/data/datagen/mnist
custom-sim/data/datagen/**/*.png
custom-sim/data/datagen/**/*.json
custom-sim/data/datagen/**/*.meta
custom-sim/data/geomloss/**/*.png
custom-sim/data/geomloss/**/*.json
custom-sim/data/geomloss/**/*.meta
custom-sim/logs
google-cloud-sdk
